// 全局字体格式
.FontStyle{
    font-size: 14px;
}
span,a,p{
    font-family: 'FZSJ';
}
// a标签去除下划线
a{
    text-decoration: none;
    color: rgb(229 231 235/var(--tw-text-opacity));
}
*, :after, :before {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-scroll-snap-strictness: proximity;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
}
body{
    // 禁止选中
    user-select: none;
    -webkit-user-select: none;      /* chrome */
    -moz-user-select: none;         /* firefox */
    // 禁止移动
    -webkit-user-drag: none;
    // 默认文字颜色
    --tw-text-opacity:1;
    color: rgb(229 231 235/var(--tw-text-opacity));
    margin: 0;
    background: #950d0d;
    font-family: 'FZSJ';
}
// 鼠标样式

// 颜色代码
:root{
    --white: #e5e7eb;
    --blue: #5f91ff;
    --blue-light: #699bff;
    --gray: #4b5563;
    --orange: #ff6821;
    --scrollbar: #1c2838;
    --black: #1f2937;
    --black-light: rgba(31,41,55,.6);
    --black-lighter: rgba(31,41,55,.4);
    --card-box-shadow:0 3px 8px 6px rgba(7,17,27,0.05);
}

// 滚动条样式
::-webkit-scrollbar-track {
    border: 1px solid #3f4a59;
    background-color: #950d0d;
}
::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #3f4a59;
}
::-webkit-scrollbar-thumb {
    background-color: #3f4a59;
}

// 字体命名
@font-face {
    font-family: 'FZSJ';
    src: local('Roboto'), url('@/assets/font/FZSJ-ODZKJW.TTF');
    font-weight: normal;
    font-style: normal;
}